CELERY_BROKER_URL=URL
CELERY_RESULT_BACKEND=URL
CELERY_TIMEZONE=UTC

CF_COUNTRIES=Brazil,Brasil

DATA_FOLDER=data/
DEBUG=True
TESTING=False

MONGO_DBNAME=NAME
MONGO_URI=URL
MONGO_READONLY=URL

OPEN_URL='https://games.crossfit.com/competitions/api/v1/competitions/open/2018/leaderboards'
OPEN_BOARDS=Bahia

SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET

WTF_CSRF_ENABLED=True
WTF_CSRF_SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
